body{
  background-color: azure;
}

.navbar {
  display: inline-flex;
  background-color: aqua;
}

ul {
  list-style: none;
  display: inline-flex;
}

link {
  text-decoration: none;
}

h2 {
  margin: 5% auto;
}